<!doctype html>
<html>
    <head>
        <title>Glitch</title>
        <meta charset="utf-8">
        <meta name="description" content="Glitch">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div id='app'></div>
    </body>
</html>
